In [10]:
#load data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys


# Load the data

In [24]:
# Load your data
df_summary = pd.read_csv(os.path.join(
    'data',
    'results',
    'similarity_results_summary_processed.csv'))

# filter on the data where 1_preaker is the same as 2_spaker
df_same_speakers = df_summary[df_summary['1_speaker'] == df_summary['2_speaker']]

#list all where cosine similarity is less than 0.8
df_same_speakers[df_same_speakers['Cosine_Similarity'] < 1]

,1_accent,1_gender,1_speaker,2_accent,2_gender,2_speaker,Cosine_Similarity
0,brm_001,female,alw001,brm_001,female,alw001,0.993279
285,brm_001,female,cxb001,brm_001,female,cxb001,0.991776
569,brm_001,female,jah001,brm_001,female,jah001,0.994840
852,brm_001,female,jep001,brm_001,female,jep001,0.989512
1134,brm_001,female,knb001,brm_001,female,knb001,0.995520
...,...,...,...,...,...,...,...
40740,uls_001,male,gpb001,uls_001,male,gpb001,0.992403
40745,uls_001,male,gpd001,uls_001,male,gpd001,0.988533
40749,uls_001,male,gtc001,uls_001,male,gtc001,0.993202
40752,uls_001,male,mar001,uls_001,male,mar001,0.986659
40754,uls_001,male,rmn001,uls_001,male,rmn001,0.988746